<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="/static/style.css" rel="stylesheet" type="text/css" />
</head>


<body>
  <banner>
  <img src="/static/logo.png" id="logo">
  <h1 style="margin: 0px 0px 0px 120px"> 
 Compare music</h1>
  </banner>

  <nav>
  <ul>
  <li><a href="index.html">Home</a></li>
  <li><a href="finddata.html">Find data</a></li>
  <li><a href="suggestions.html">Find suggestions</a></li>
  <li><a href="compare.html">Compare music</a></li>
  </ul>
  </nav>

</div> 
  <div style="float:left; height:650px; width: 880px; ">

    <form class="formsleft" method="POST">
      Enter 5 artists you want to compare: <br> <br></br>
      Artist 1:<input type="text" name="name1"> <br>
      Artist 2:<input type="text" name="name2"> <br>
      Artist 3:<input type="text" name="name3"> <br>
      Artist 4:<input type="text" name="name4"> <br>
      Artist 5:<input type="text" name="name5"> <br>
      </br>
  <input type="submit" value="Submit">
    </form>

  </div>

</div> 
  <div style="float:right; height:650px; width: 880px;">

    <form class="formsright" method="POST">
      Enter 5 songs you want to compare: <br> <br></br>
      Song 1:<input type="text" name="song1"> <br>
      Song 2:<input type="text" name="song2"> <br>
      Song 3:<input type="text" name="song3"> <br>
      Song 4:<input type="text" name="song4"> <br>
      Song 5:<input type="text" name="song5"> <br>
      </br>
  <input type="submit" value="Submit">
    </form>

  </div>


</body>

</html>
